body, html {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  height: 120px;
  background-color: rgba(192, 192, 192, 0.835);
  padding-left: 10px;
  flex-direction: column;
  justify-content: space-between;
  
  .logo {
    font-size: 24px;
  }

  .menu {
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
  }
}

.search {
  padding: 4px;

  input, button {
    font-size: 16px;
    padding: 2px;
  }
}

.results {
  padding: 4px;

  table {
    border: 0.5px solid black;

    thead {
      font-weight: bold;      
    }

    td {
      padding: 3px;
    }

    td:nth-child(even) {
      background-color: rgba(85, 173, 255, 0.835);
    }

    td:nth-child(odd) {
      background-color: rgba(39, 150, 253, 0.561);
    }
  }
}

.about {
  width: 400px;
  margin: 10px auto;
  padding: 5px;
}